<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirecting...</title>
    <script>
      document.cookie = `click_id=<%= clickId %>; path=/; max-age=${
        24 * 60 * 60
      }; samesite=strict`;
      localStorage.setItem("click_id", "<%= clickId %>");
      setTimeout(() => {
        window.location.href = "<%= redirectUrl %>";
      }, 2000);
    </script>
  </head>
  <body>
    <p>Redirecting you to the target page...</p>
  </body>
</html>
