<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirecting...</title>
    <script src="/js/storeClickId.js" defer></script>
  </head>
  <body
    data-click-id="<%= clickId %>"
    data-redirect-url="<%= redirectUrl %>?click_id=<%= clickId %>"
  >
    <p>Redirecting you to the target page...</p>
  </body>
</html>
